.wrapper {
    position: fixed;
    width: 1280px;
    height: 720px;
    border-color: #000000;
    border-style: dotted;
}

#NextLetterButton.position {
    position: absolute;
    top: 597.6567979002625px;
    left: 1106.5727034120735px;
}

#NextLetterButton.shape {
    width: 0;
    height: 0;
    border-top: 42.66666666666667px solid transparent;
    border-left: 88.88892388451444px solid #4472C4;
    border-bottom: 42.66666666666667px solid transparent;
}

#RestartButton.position {
    position: absolute;
    top: 599.4344356955381px;
    left: 926.5453018372704px;
}

#RestartButton .font {
    font-size: 28px;
    font-family: "Times", Times, serif;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#RestartButton.shape {
    width: 149.33333333333334px;
    height: 85.33343832020998px;
    background: #F44D6A;
    display: table;
}

#LetterBox.position {
    position: absolute;
    top: 59.58624671916011px;
    left: 223.2833595800525px;
}

#LetterBox .font {
    font-size: 413px;
    font-family: "lucida grande", Times, serif;
    color: #222222;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#LetterBox.border {
    border-style: solid;
    border-color: 000000;
    border-width: 0.10498687664041995px;
}

#LetterBox.shape {
    width: 852.5952755905512px;
    height: 516.6758005249344px;
    background: #transparent;
    display: table;
}