.container{
    margin: 30px 50px 30px 50px;
    border: 2px solid #00A;
    background-color:#FFF;
}
.wrapper {
    position: fixed;
    left: 12%;
    width: 1280px;
    height: 720px;
    border-color: #000000;
    border-style: dotted
  }
  .one {
    position: absolute;
    top: 136.76713910761154px;
    right: 366.9040419947507px;
    width: 587.2576377952756px;
    height:  361.6438845144357px;
    background-color: red;
  }
  .two { 
    position: absolute;
    top: 599.4344356955381px;
    right: 353.454698163px;
    width: 149.33333333333334px;
    height:  85.33343832020998px;
    background-color: red;
  }
  .three {
    position: absolute;
    top: 597.6567979002625px;
    right: 173.427296588px;
    height:  85.33333333333334px;
    width:  88.88892388451444px;
    background-color: red;
  }
 
  .LetterBox-style{
    grid-row:3 / 9;
    grid-column:4 / 10
    }