#NextLetterButton.position {
    grid-row: 10 / 12;
    grid-column: 11 / 12;
}

#RestartButton.position {
    grid-row: 10 / 12;
    grid-column: 9 / 11;
}

#LetterBox.position {
    grid-row: 3 / 9;
    grid-column: 4 / 10;
}